# Dependencies
node_modules/

# Test results
test-results/
playwright-report/
playwright/.cache/
allure-results/
allure-report/
*.log

# Keep visual baselines
!snapshots/
*.png
!snapshots/**/*.png

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

whatif/

